h1 
{
    color:black;
font-size:150px;
text-align:center; 
font-family:Freestyle Script;
}
#cap
{
    color:grey; 
    font-size:110px;
text-align:center;
font-family:Felix Titling;
}
.zip
{
    text-align: center;
    font-family: Consolas;
    font-size: 15px;
}
#caption
{
    color: darkgrey;
}
th
{
    font-family: fantasy;
    font-size: 40px;
}